<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded" @bind-Expanded:after="OnExpandedChanged" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="instances" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Instances</FluentNavLink>
            <FluentNavLink Href="datasets" Icon="@(new Icons.Regular.Size20.Database())" IconColor="Color.Accent">Data Sets</FluentNavLink>
            <FluentNavLink Href="translations" Icon="@(new Icons.Regular.Size20.LocalLanguage())" IconColor="Color.Accent">Translations</FluentNavLink>
            <FluentNavLink Href="paneltest" Icon="@(new Icons.Regular.Size20.SlideLayout())" IconColor="Color.Accent">Panel Test</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@using InstanceManager.Host.WA.Services
@inject ILocalStorageService LocalStorage

@code {
    private bool expanded = true;
    private const string ExpandedKey = "nav-menu-expanded";

    protected override async Task OnInitializedAsync()
    {
        expanded = await LocalStorage.GetItemAsync<bool?>(ExpandedKey) ?? true;
    }

    private async Task OnExpandedChanged()
    {
        await LocalStorage.SetItemAsync(ExpandedKey, expanded);
    }
}