@page "/instances"
@using InstanceManager.Application.Contracts.Common
@using InstanceManager.Application.Contracts.ProjectInstance
@using Radzen
@using Radzen.Blazor
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <h3 style="margin: 0;">Project Instances</h3>
    
    <FluentNavLink Href="@NavHelper.BuildUrl("action", "create")">
        <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Add())" />
    </FluentNavLink>
</FluentStack>

<FluentDivider Style="margin: 16px 0;" />

<FluentStack Orientation="Orientation.Horizontal" VerticalGap="8">
    <FluentButton Appearance="@(_renderMode == RenderMode.FluentTree ? Appearance.Accent : Appearance.Neutral)"
                  OnClick="@(() => SwitchRenderMode(RenderMode.FluentTree))">
        Fluent - Tree
    </FluentButton>
    <FluentButton Appearance="@(_renderMode == RenderMode.WebAwesomeTree ? Appearance.Accent : Appearance.Neutral)"
                  OnClick="@(() => SwitchRenderMode(RenderMode.WebAwesomeTree))">
        WebAwesome - Tree
    </FluentButton>
    <FluentButton Appearance="@(_renderMode == RenderMode.DataGrid ? Appearance.Accent : Appearance.Neutral)"
                  OnClick="@(() => SwitchRenderMode(RenderMode.DataGrid))">
        Data Grid
    </FluentButton>
</FluentStack>

<FluentDivider Style="margin: 16px 0;" />

<DataLoader TResponse="PaginatedList<ProjectInstanceDto>"
            TQuery="GetProjectInstancesQuery"
            Query="@_currentQuery"
            CacheKey="@_cacheKey"
            RefreshToken="@_refreshToken"
            OnDataFetched="HandleDataFetched">
    <ChildContent Context="result">
        <div style="display: @(_renderMode == RenderMode.FluentTree ? "block" : "none")">
            <FluentTreeView Items="Items" SelectedItemChanged="SelectedItemChanged" SelectedItem="SelectedItem" />
        </div>
        
        <div style="display: @(_renderMode == RenderMode.WebAwesomeTree ? "block" : "none")">
            <InstancesWebAwesomeTree AllInstances="AllInstances" 
                                     SelectedInstanceId="GetSelectedInstanceId()" 
                                     OnInstanceSelected="HandleWebAwesomeItemSelected" />
        </div>
        
        <div style="display: @(_renderMode == RenderMode.DataGrid ? "block" : "none")">
            <FluentStack Orientation="Orientation.Horizontal" Style="margin-bottom: 16px;" VerticalAlignment="VerticalAlignment.Center">
                <FluentSearch Placeholder="Search instances..."
                             @bind-Value="@_searchTerm"
                             @bind-Value:after="OnSearchChanged"
                             Style="width: 300px;" />
                @if (!string.IsNullOrWhiteSpace(_searchTerm))
                {
                    <FluentButton Appearance="Appearance.Lightweight"
                                  IconStart="@(new Icons.Regular.Size20.Dismiss())"
                                  OnClick="ClearSearch">
                        Clear
                    </FluentButton>
                }
            </FluentStack>
            
            <RadzenDataGrid Data="@AllInstances"
                            LoadData="@OnLoadData"
                            Count="@_totalItems"
                            TItem="ProjectInstanceDto" 
                            AllowFiltering="true" 
                            AllowSorting="true" 
                            AllowPaging="true" 
                            PageSize="@_pageSize"
                            FilterPopupRenderMode="PopupRenderMode.OnDemand"
                            SelectionMode="DataGridSelectionMode.Single"
                            Value="@_selectedRows"
                            ValueChanged="@OnDataGridSelectionChanged">
                <Columns>
                    <RadzenDataGridColumn TItem="ProjectInstanceDto" Property="Name" Title="Name" />
                    <RadzenDataGridColumn TItem="ProjectInstanceDto" Property="Description" Title="Description" />
                    <RadzenDataGridColumn TItem="ProjectInstanceDto" Property="CreatedAt" Title="Created At" FormatString="{0:yyyy-MM-dd HH:mm}" />
                    <RadzenDataGridColumn TItem="ProjectInstanceDto" Property="ParentProjectId" Title="Parent">
                        <Template Context="instance">
                            @if (instance.ParentProjectId.HasValue)
                            {
                                var parent = AllInstances.FirstOrDefault(i => i.Id == instance.ParentProjectId.Value);
                                @(parent?.Name ?? "Unknown")
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </ChildContent>
</DataLoader>

