@using InstanceManager.Application.Contracts.Modules.DataSet
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation
@implements IDialogContentComponent<DataSetPanelParameters>

<FluentDialogBody>
    <EditForm Model="Content.DataSet" OnSubmit="@(() => HandleSubmitAsync(false))">
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            
            <FluentTextField @bind-Value="Content.DataSet.Name"
                             Label="Name"
                             Immediate="true"
                             Required
                             Style="width: 100%;" />
            
            <FluentTextArea @bind-Value="Content.DataSet.Description"
                            Label="Description"
                            Immediate="true"
                            Rows="3"
                            Style="width: 100%;" />
            
            <FluentTextArea @bind-Value="Content.DataSet.Notes"
                            Label="Notes"
                            Immediate="true"
                            Rows="4"
                            Style="width: 100%;" />
            
            @if (Content.AvailableDataSets.Any())
            {
                <div>
                    <label style="font-weight: 500; margin-bottom: 8px; display: block;">Included Data Sets (Optional)</label>
                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                        @foreach (var availableDataSet in Content.AvailableDataSets)
                        {
                            var isSelected = SelectedIncludeIds.Contains(availableDataSet.Id);
                            <FluentCheckbox 
                                Label="@availableDataSet.Name"
                                Value="@isSelected"
                                ValueChanged="@((bool newValue) => HandleIncludeChanged(availableDataSet.Id, newValue))" />
                        }
                    </FluentStack>
                </div>
            }
            
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <FluentMessageBar Intent="MessageIntent.Error">
                    @ErrorMessage
                </FluentMessageBar>
            }
            
        </FluentStack>
    </EditForm>
</FluentDialogBody>


    <EntityPanelFooter IsEditMode="@Content.IsEditMode"
                       IsSaving="@IsSaving"
                       IsDeleting="@IsDeleting"
                       OnSave="@(() => HandleSubmitAsync(closeAfterSave: false))"
                       OnSaveAndClose="@(() => HandleSubmitAsync(closeAfterSave: true))"
                       OnCancel="@HandleCancelAsync"
                       OnDelete="@HandleDeleteClickAsync" />
