@page "/datasets"
@using InstanceManager.Application.Contracts.Common
@using InstanceManager.Application.Contracts.Modules.DataSet
@using Radzen
@using Radzen.Blazor
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <h3 style="margin: 0;">Data Sets</h3>
    
    <FluentNavLink Href="@NavHelper.BuildUrl("action", "create")">
        <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Add())" />
    </FluentNavLink>
</FluentStack>

<FluentDivider Style="margin: 16px 0;" />

<DataLoader TResponse="PaginatedList<DataSetDto>"
            TQuery="GetDataSetsQuery"
            Query="@_currentQuery"
            CacheKey="@_cacheKey"
            RefreshToken="@_refreshToken"
            OnDataFetched="HandleDataFetched">
    <ChildContent Context="result">
        <PaginatedDataGrid TItem="DataSetDto"
                          Items="@AllDataSets"
                          TotalItems="@_totalItems"
                          PageSize="@_pageSize"
                          SearchPlaceholder="Search datasets..."
                          @bind-SearchTerm="@_searchTerm"
                          OnSearchChanged="@OnSearchChanged"
                          LoadData="@OnLoadData"
                          SelectedRows="@_selectedRows"
                          SelectedRowsChanged="@OnDataGridSelectionChanged">
            <Columns>
                <RadzenDataGridColumn TItem="DataSetDto" Property="Name" Title="Name" />
                <RadzenDataGridColumn TItem="DataSetDto" Property="Description" Title="Description" />
                <RadzenDataGridColumn TItem="DataSetDto" Property="CreatedAt" Title="Created At" FormatString="{0:yyyy-MM-dd HH:mm}" />
                <RadzenDataGridColumn TItem="DataSetDto" Property="IncludedDataSetIds" Title="Includes">
                    <Template Context="dataSet">
                        @if (dataSet.IncludedDataSetIds.Any())
                        {
                            <text>@dataSet.IncludedDataSetIds.Count dataset(s)</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </PaginatedDataGrid>
    </ChildContent>
</DataLoader>

